<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestNG" verbose="1" configfailurepolicy="continue">
    <listeners>
        <listener class-name="com.tpg.example.MethodInterceptor"></listener>
    </listeners>

	<test name="AfterClass Example">
		<classes> 
			<class name="com.tpg.example.TestCase"></class>
        </classes>
	</test>
</suite>